{% extends '_base.html' %}{% block content %}

<!-- Central Part -->
<div class="container-fluid">
  <div class="row">
    <!-- Left section -->
    {% include 'left_section.html' %} 
    

    <!-- Main Section -->
    <div class="col-lg-10 col-md-12 bg-dark h-100 main-section">
      <div class="container mt-3">
        {% if project.owner == request.user %}
        <div class="d-flex">
          <div>
            <h3 class="fw-bold pt-4 mb-2">{{ project.name }}</h3>
          </div>
          
          <div class="ms-auto">
            <a
              href="{% url 'add_members' project.uuid %}"
              class="table-tooltip"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Add Members"
            >
              <i class="fas fa-plus fa-lg text-success px-2 py-4"></i>
            </a>
            <a
              href="{% url 'edit_project' project.uuid %}"
              class="table-tooltip"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Edit"
            >
              <i class="fas fa-gear fa-lg text-primary px-2 py-4"></i>
            </a>
            <a
              href="{% url 'delete_project' project.uuid %}"
              class="table-tooltip"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Delete"
            >
              <i class="fas fa-trash fa-lg text-secondary px-2 py-4"></i>
            </a>
          </div>
        </div>

        {% else %}
        <div>
          <h3 class="fw-bold pt-4 mb-2">{{ project.name }}</h3>
        </div>

        {% endif %}

        <p class="text-primary fw-bold">
          Managed by <a href="{% url 'profile' project.owner.uuid %}">{{ project.owner.name }}</a>
        </p>
        <h4 class="text-primary fw-bold mt-5">Description</h4>
        {{ project.description|safe }}
        <h4 class="text-primary fw-bold mt-5 mb-3">Participants</h4>
        <ul class="list-unstyled">
          {% for participant in project.participants.all %}
          <li class="d-flex gap-2 my-2">
            <a href="#"
              ><img
                src="{{ participant.profile_photo.url }}"
                alt=""
                class="img-fluid img-profile-left rounded-circle mb-2 border border-2 border-success"
            /></a>
            <a href="{% url 'profile' participant.uuid %}" class="fs-4"
              >{{ participant.name }}</a
            >
          </li>
          {% endfor %}
        </ul>

        <h4 class="fw-bold mt-5 text-primary">Tasks Assigned</h4>
        <table class="table table-hover mb-7">
          <thead>
            <th>Title</th>

            <th>Status</th>
            <th>Urgency</th>
            <th>Deadline</th>
            <th>Assigned To</th>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td>
                <a href="{% url 'task_detail' task.uuid %}" class="table-tooltip"
                  >{{ task.title }}</a
                >
              </td>

              <td class="ps-4">
                {% if task.status == 'Awaits' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Awaits"
                  ><i class="fas fa-circle-pause text-secondary"></i
                ></a>
                {% elif task.status == 'In Progress' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="In Progress"
                  ><i class="fas fa-screwdriver-wrench text-warning"></i
                ></a>
                {% elif task.status == 'Completed' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Completed"
                  ><i class="fas fa-circle-check text-success"></i
                ></a>
                {% endif %}
              </td>

              <td class="ps-4">
                {% if task.priority == 'Urgent' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Urgent"
                  ><i class="fas fa-fire text-secondary"></i
                ></a>
                {% elif task.priority == 'Moderate' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Moderate"
                  ><i class="fas fa-flag text-warning"></i
                ></a>
                {% elif task.priority == 'Non-Urgent' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Not Urgent"
                  ><i class="fas fa-flag text-success"></i
                ></a>
                {% endif %}
              </td>
              <td>{{ task.deadline }}</td>

              <td>
                <a href="{% url 'profile' task.assigned_to.uuid %}"
                  >{{ task.assigned_to }}</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% if project.owner == request.user %}
        <a href="{% url 'create_task_from_project' project.uuid %}"
          ><button class="btn btn-secondary text-light fw-bold mt-3 mb-5">
            Assign New Task
          </button></a
        >
        {% endif %}
      </div>
    </div>

    {% endblock content %}
  </div>
</div>
