{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="left-section">
        {% if request.user.is_authenticated %}

          <ul>
            <b>The projects you manage:</b>
            {% for project in projects_owned %}
            <li><a href="{% url 'project' project.id %}">{{ project.name }}</a></li>
            {% empty %}
            <li>You don't own projects yet. <a href="{% url 'create_project' %}">Create new project</a></li>
            {% endfor %}
            <b>The projects you are participating in: </b>
            {% for project in projects_participated %}
            <li><a href="{% url 'project' project.id %}">{{ project.name }}</a></li>
            {% empty %}
            <li>You don't participate in projects yet.</li>
            {% endfor %}
            <a href="{% url 'my_projects' request.user.id %}">View all my projects.</a>
          </ul>
          {% endif %}
      </div>
      <div class="right-section">
    <section>
      <h2>{{ project.name }}
      {% if request.user.id == project.owner.id %}
      <a href="{% url 'edit_project' project.id %}">Edit</a>
        <a href="{% url 'delete_project' project.id %}">Delete</a>
      {% endif %}
        </h2>
      <small>Owned by <a href="{% url 'profile' project.owner.id %}">{{ project.owner.name }}</a></small>

      {% if project.description %}
      <p>{{ project.description }}</p>
      {% else %}
      <p>No project description was provided.</p>
      {% endif %}
    </section>

    <section>
      <h2>Tasks</h2>
      <ul>
        {% for task in tasks %}
        <li><a href="{% url 'task_detail' task.id %}">{{ task }}</a> <small>assigned to
          {% for participant in task.assigned_to.all %}
          <a href="{% url 'profile' participant.id %}">@{{ participant.name }}</a>
          {% endfor %}</small></li>
        {% if task.is_outdated == True %}
          <b>Outdated!</b>
          {% endif %}
        {% endfor %}

        {% if project.owner == request.user %}
              <a href="{% url 'create_task' %}"><button class="add-task btn" type="submit">Add task</button></a>
            {% endif %}
      </ul>

    </section>

    <section>
      <h2>Participants</h2>
      <ul>
        {% for participant in project.participants.all %}
        <li><a href="{% url 'profile' participant.id %}">@{{ participant.name }}</a></li>
        {% endfor %}
      </ul>

    </section>

    <section>
      <h2>Settings</h2>
      <p>This section contains project settings.</p>
    </section>
        </div>
      </div>


{% endblock content %}