{% extends 'base.html' %}

{% block content %}
  <main>
    <section>
      <h2>{{ project.name }}
      {% if request.user.id == project.owner.id %}
      <a href="{% url 'edit_project' project.id %}">Edit</a>
        <a href="{% url 'delete_project' project.id %}">Delete</a>
      {% endif %}
        </h2>
      <small>Owned by <a href="{% url 'profile' project.owner.id %}">{{ project.owner.name }}</a></small>

      <p>This section provides an overview of the project.</p>
    </section>

    <section>
      <h2>Tasks</h2>
      <ul>
        {% for task in tasks %}
        <li>{{ task }} <small>assigned to
          {% for participant in task.assigned_to.all %}
          <a href="{% url 'profile' participant.id %}">@{{ participant.name }}</a>
          {% endfor %}</small></li>
        {% endfor %}
      </ul>

    </section>

    <section>
      <h2>Participants</h2>
      <ul>
        {% for participant in project.participants.all %}
        <li><a href="{% url 'profile' participant.id %}">@{{ participant.name }}</a></li>
        {% endfor %}
      </ul>
    </section>

    <section>
      <h2>Settings</h2>
      <p>This section contains project settings.</p>
    </section>
  </main>

{% endblock content %}