{% extends '_base.html' %}
{% block content %}
    <!-- Central Part -->
    <div class="container-fluid">
      <div class="row vh-100">
        <!-- Left section -->
        <div
          class="left-section d-none d-lg-block col-lg-2 h-100 overflow-auto"
        >
          <div class="container mt-3">
            <h3 class="fw-bold border-bottom border-secondary py-4">My Team</h3>
            <ul
              class="list-group profiles-left mt-3 list-unstyled vstack gap-3"
            >
              <div
                class="group-item d-flex gap-2 border-bottom border-primary py-2 online"
              >
                <a href="#"
                  ><img
                    src="https://randomuser.me/api/portraits/men/23.jpg"
                    alt=""
                    class="img-fluid img-profile-left img-thumbnail rounded-circle border border-2 border-success"
                /></a>

                <a href="#"><li class="text-white fs-5">Adam Johnson</li></a>
              </div>
              <div
                class="group-item d-flex gap-2 border-bottom border-primary py-2"
              >
                <a href="#"
                  ><img
                    src="https://randomuser.me/api/portraits/men/46.jpg"
                    alt=""
                    class="img-fluid img-profile-left img-thumbnail rounded-circle"
                /></a>

                <a href="#"><li class="text-white fs-5">Brian Adams</li></a>
              </div>
              <div
                class="group-item d-flex gap-2 border-bottom border-primary py-2"
              >
                <a href="#"
                  ><img
                    src="https://randomuser.me/api/portraits/women/23.jpg"
                    alt=""
                    class="img-fluid img-profile-left img-thumbnail rounded-circle"
                /></a>

                <a href="#"><li class="text-white fs-5">Vanessa May</li></a>
              </div>
            </ul>
          </div>
        </div>

        <!-- Main Section -->
        <div class="col-lg-10 col-md-12 bg-dark h-100 main-section">
            <div class="container mt-3 vh-100">
                <h2 class="mt-5">Log Out</h3>
                <p class="lead mt-4">Are you sure you want to log out?</p>
                <form action="#" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-secondary  text-light fw-bold mt-4">Log Out</button>
                </form>
            </div>
        
        </div>
      </div>
    </div>

   {% endblock content %}
