{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="profile-header">
    <div class="container">
      <div class="profile-picture">
        <img src="{% static 'images/profiles/django_new.png' %}" alt="Profile Picture">
      </div>
      <div class="profile-info">
        <h1>{{ user.name }}</h1>
        {% if request.user.id == user.id %}
        <p><a href="{% url 'edit_profile' user.id %}">Edit | </a>
        <a href="{% url 'delete_profile' user.id %}">Delete</a></p>
        {% endif %}
        <p>Email: {{ user.email }}</p>
        <p>Location: {{ user.location }}</p>
        <p>{{ user.bio }}</p>
        <ul>
        {% for skill in skills %}
          <li>{{ skill.name }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </header>

  <main class="profile-main">
    <div class="container">
      <!-- Add your profile content here -->
    </div>
  </main>
{% endblock content %}




