{% extends 'base.html' %}
{% block content %}

      <div class="container">
        <div class="left-section">
          <!-- Content for the left section -->
          {% if request.user.is_authenticated %}

          <ul>
            The projects you manage:
            {% for project in projects_owned %}
            <li><a href="{% url 'project' project.id %}">{{ project.name }}</a></li>
            {% empty %}
            <li>You don't own projects yet. <a href="{% url 'create_project' %}">Create new project</a></li>
            {% endfor %}
            The projects you are participating in
            {% for project in projects_participated %}
            <li><a href="{% url 'project' project.id %}">{{ project.name }}</a></li>
            {% empty %}
            <li>You don't participate in projects yet.</li>
            {% endfor %}
          </ul>
          {% endif %}

        </div>

        <div class="right-section">
          <!-- Content for the right section -->
          <section>
            <h1>My Tasks</h1>
            <ul class="bullet-list">
              {% for task in tasks %}
              <a href="{% url 'task_detail' task.id %}"><li><label>{{ task.title }}</label></li></a>

              {% endfor %}
            </ul>
              <a href="{% url 'create_task' %}"><button class="add-task btn" type="submit">Add task</button></a>
          </section>
        </div>
      </div>
{% endblock content %}