{% extends '_base.html' %} 


{% block title %}
  Current Tasks
{% endblock title %}
  

{% block content %}

<!-- Central Part -->
<div class="container-fluid">
  <div class="row">
    <!-- Left section -->
    {% include 'left_section.html' %}

    <!-- Main Section -->
    
    
    <div class="col-lg-10 col-md-12 bg-dark h-100 main-section overflow-auto">
      <div class="container mt-3 mb-6">
        
        <h2 class="fw-bold py-4">Tasks Assigned</h2>
        <table class="table table-hover" id="tasksAssigned">
          <thead>
            <th
              onclick="sortTable( 0,'tasksAssigned',)"
              class="sorting-table fs-5 fw-normal"
            >
              Title <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable( 1, 'tasksAssigned')"
              class="sorting-table fs-5 fw-normal"
            >
              Project
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable( 2, 'tasksAssigned',)"
              class="sorting-table fs-5 fw-normal"
            >
              Status
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable( 3, 'tasksAssigned',)"
              class="sorting-table fs-5 fw-normal"
            >
              Urgency
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable( 4, 'tasksAssigned')"
              class="sorting-table fs-5 fw-normal"
            >
              Deadline
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable( 5, 'tasksAssigned')"
              class="sorting-table fs-5 fw-normal"
            >
              Assigned To
              <i class="fas fa-caret-down ms-2"></i>
            </th>
          </thead>
          <tbody>
            {% for task in tasks_assigned %}
            <tr>
              <td>
                <a href="{% url 'task_detail' task.uuid %}" class="table-tooltip"
                  >{{ task.title }}</a
                >
              </td>
              <td>
                <a
                  href="{% url 'project' task.project.uuid %}"
                  class="table-tooltip"
                  >{{ task.project }}</a
                >
              </td>
              <td class="ps-4">
                {% if task.status == 'Awaits' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Awaits"
                  ><i class="fas fa-circle-pause text-secondary"></i
                ></a>
                {% elif task.status == 'In Progress' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="In Progress"
                  ><i class="fas fa-screwdriver-wrench text-warning"></i
                ></a>
                
                {% endif %}
              </td>
              <td class="ps-4">
                {% if task.priority == 'Urgent' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Urgent"
                  ><i class="fas fa-fire text-secondary"></i
                ></a>
                {% elif task.priority == 'Moderate' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Moderate"
                  ><i class="fas fa-flag text-warning"></i
                ></a>
                {% elif task.priority == 'Non-Urgent' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Not Urgent"
                  ><i class="fas fa-flag text-success"></i
                ></a>
                {% endif %}
              </td>
              <td>{{ task.deadline }}</td>
              <td><a href="{% url 'profile' task.assigned_to.uuid %}">{{ task.assigned_to.name }}</a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">
                <p class="text-center py-3">
                  You haven't assigned any tasks yet Or All The Tasks Have Been Completed.
                </p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="{% url 'create_task' %}"
          ><button class="btn btn-secondary text-light fw-bold mt-3">
            Assign New Task
          </button></a
        >
      </div>
      <div class="container mt-3 mb-7">
        <h2 class="fw-bold py-4">Tasks To Do</h2>
        <table class="table table-hover" , id="tasksToDo">
          <thead>
            <th
              onclick="sortTable(0, 'tasksToDo')"
              class="sorting-table fs-5 fw-normal"
            >
              Title <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable(1, 'tasksToDo')"
              class="sorting-table fs-5 fw-normal"
            >
              Project
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable(2, 'tasksToDo')"
              class="sorting-table fs-5 fw-normal"
            >
              Status
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable(3, 'tasksToDo')"
              class="sorting-table fs-5 fw-normal"
            >
              Urgency
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable(4, 'tasksToDo')"
              class="sorting-table fs-5 fw-normal"
            >
              Deadline
              <i class="fas fa-caret-down ms-2"></i>
            </th>
            <th
              onclick="sortTable(5, 'tasksToDo')"
              class="sorting-table fs-5 fw-normal"
            >
              Assigned By
              <i class="fas fa-caret-down ms-2"></i>
            </th>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr>
              <td><a href="{% url 'task_detail' task.uuid %}" class="table-tooltip">{{ task.title }}</a></td>
              <td>
                <a href="{% url 'project' task.project.uuid %}" class="table-tooltip">{{ task.project.title }}</a>
              </td>
              <td class="ps-4">
                {% if task.status == 'Awaits' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Awaits"
                  ><i class="fas fa-circle-pause text-secondary"></i
                ></a>
                {% elif task.status == 'In Progress' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="In Progress"
                  ><i class="fas fa-screwdriver-wrench text-warning"></i
                ></a>
                
                {% endif %}
              </td>
              <td class="ps-4">
                {% if task.priority == 'Urgent' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Urgent"
                  ><i class="fas fa-fire text-secondary"></i
                ></a>
                {% elif task.priority == 'Moderate' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Moderate"
                  ><i class="fas fa-flag text-warning"></i
                ></a>
                {% elif task.priority == 'Non-Urgent' %}
                <a
                  href="#"
                  class="table-tooltip"
                  data-bs-toggle="tooltip"
                  data-bs-title="Not Urgent"
                  ><i class="fas fa-flag text-success"></i
                ></a>
                {% endif %}
              </td>
              <td>{{ task.deadline }}</td>
              <td><a href="{% url 'profile' task.project.owner.uuid %}">{{ task.project.owner.name }}</a></td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">
                <p class="text-center py-3">
                  You Have No Active Tasks. Take a Good Nap :)
                </p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}
