{% extends '_base.html' %} {% block content %}

<!-- Central Part -->
<div class="container-fluid">
  <div class="row">
    <!-- Left section -->
    {% include 'left_section.html' %}

    <!-- Main Section -->
    <div class="col-lg-10 col-md-12 bg-dark h-100 main-section">
      <div class="container mt-3">
        {% if page == 'create' %}
        <h2 class="fw-bold py-4">Assign New Task</h2>
        {% else %}
        <h2 class="fw-bold py-4">Edit Task</h2>
        {% endif %}

        <form method="POST" action="#" enctype="multipart/form-data">
          {% csrf_token %} 
          {% for field in form.visible_fields %} 
          <div class="row mt-4">
            <div class="col-lg-2">
              <h4 class="text-primary fw-bold pt-3">{{ field.label }}</h4>
            </div>
            <div class="col-lg-10">{{ field }}</div>
          </div>
          {% endfor %}

          <div class="row mt-5 mb-6">
            <div class="col-lg-12 text-center">
              {% if page == 'create' %}
              <button
                class="btn btn-secondary text-white fw-bold"
                style="width: 150px"
              >
                Create
              </button>
              {% else %}
              <button
                class="btn btn-secondary text-white fw-bold"
                style="width: 150px"
              >
                Update
              </button>
              {% endif %}
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  tinymce.init({
    selector: "textarea",
    plugins:
      "powerpaste casechange searchreplace autolink directionality advcode visualblocks visualchars image link media mediaembed codesample table charmap pagebreak nonbreaking anchor tableofcontents insertdatetime advlist lists checklist wordcount tinymcespellchecker editimage help formatpainter permanentpen charmap linkchecker emoticons advtable export autosave",
    toolbar:
      "undo redo print spellcheckdialog formatpainter | blocks fontfamily fontsize | bold italic underline forecolor backcolor | link image | alignleft aligncenter alignright alignjustify lineheight | checklist bullist numlist indent outdent | removeformat aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | ",
    height: "700px",
    skin: "CUSTOMNEW",
    content_style:
      "body { background: #0c0c0c; color: white; font-size: 14pt; font-family: Arial; }",
  });
</script>
{% endblock content %}
