{% extends '_base.html' %} {% block content %}

<!-- Central Part -->
<div class="container-fluid">
  <div class="row">
    <!-- Left section -->
    {% include 'left_section.html' %}

    <!-- Main Section -->
    <div class="col-lg-10 col-md-12 bg-dark main-section">
      <div class="container mt-3">
        <div class="d-flex">
          <h2 class="py-4">{{ task.title }}</h2>
          {% if task.project.owner == request.user and task.status != "Completed" %}
          <div class="ms-auto pt-3">
            <a
              href="{% url 'edit_task' task.uuid %}"
              class="table-tooltip"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Edit"
            >
              <i class="fas fa-gear fa-lg text-primary px-2 py-4"></i>
            </a>
            <a
              href="{% url 'delete_task' task.uuid %}"
              class="table-tooltip"
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              data-bs-title="Delete"
            >
              <i class="fas fa-trash fa-lg text-secondary px-2 py-4"></i>
            </a>
          </div>
          {% elif task.assigned_to == request.user %}
          <div class="ms-auto pt-3">
            <form action="{% url 'change_st' task.uuid %}" method="POST" >
              {% csrf_token %}
              <div class="input-group input-group-sm">
                <select class="form-select" name="status">
                  
                  {% for status in statuses %}
                  {% if task.status == status %}
                  <option selected value="{{ status }}">{{ status }}</option>
                  {% else %}
                  <option value="{{ status }}">{{ status }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
                <button class="btn btn-secondary" type="submit"><i class="fas fa-check text-light"></i></button>
              </div>
            </form>
          </div>
          {% endif %}
        </div>
        <h4 class="fw-bold text-primary">Description</h4>
        {{ task.body|safe }}

        <div class="row mt-6">
          <div class="col-lg-4">
            <h4 class="fw-bold text-primary">Status</h4>
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li class="list-item">
                {% if task.status == 'Completed' %}
                <i class="fas fa-circle-check text-success me-2"></i>
                Completed {% elif task.status == 'In Progress' %}
                <i class="fas fa-screwdriver-wrench text-warning me-2"></i>
                In Progress {% elif task.status == 'Awaits' %}
                <i class="fas fa-circle-pause text-secondary me-2"></i>
                Awaits {% endif %}
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <h4 class="fw-bold text-primary">Urgency</h4>
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li class="list-item">
                {% if task.priority == 'Urgent' %}
                <i class="fas fa-fire text-secondary me-2"></i>
                Urgent {% elif task.priority == 'Moderate' %}
                <i class="fas fa-flag text-warning me-2"></i>
                Moderate {% elif task.priority == 'Non-Urgent' %}
                <i class="fas fa-flag text-success me-2"></i>
                Not Urgent {% endif %}
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <h4 class="fw-bold text-primary">Assigned To</h4>
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li class="list-item">
                <a href="{% url 'profile' task.assigned_to.uuid %}"
                  >{{ task.assigned_to.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <h4 class="fw-bold text-primary">Assigned By</h4>
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li class="list-item">
                <a href="{% url 'profile' task.project.owner.uuid %}"
                  >{{ task.project.owner.name }}</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="row my-5">
          <div class="col-lg-4">
            <h4 class="fw-bold text-primary">Deadline</h4>
          </div>
          <div class="col-lg-8">
            <ul class="list-unstyled">
              <li class="list-item">{{ task.deadline }}</li>
            </ul>
          </div>
        </div>
        <h2 class="mb-5 mt-7">Discussion</h2>
      </div>

      <!-- Comments section -->
      <div
        class="container mb-5 overflow-auto p-3 rounded-3 comment-container"
        style="max-height: 500px"
      >
        {% for comment in comments %}
        {% if comment.author == request.user %}
        <div class="row">
          <div
            class="col-sm-10 col-lg-8 ms-auto bg-primary d-flex gap-2 border border-primary rounded-5 p-3 m-3"
          >
            <img
              src="{{ comment.author.profile_photo.url }}"
              alt=""
              class="img-fluid img-comment rounded-circle img-thumbnail border border-2 border-success"
            />
            <div>
              <h4 class="fw-bold">{{ comment.author.name }}</h4>
              <small>{{ comment.created|timesince }} ago</small>
              <p class="mt-3">{{ comment.body }}</p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="row">
          <div
            class="col-sm-10 col-lg-8 d-flex gap-2 border border-primary rounded-5 p-3 m-3"
          >
            <img
              src="{{ comment.author.profile_photo.url }}"
              alt=""
              class="img-fluid img-comment rounded-circle img-thumbnail border border-2 border-success"
            />
            <div>
              <h4 class="fw-bold">{{ comment.author.name }}</h4>
              <small>{{ comment.created|timesince }} ago</small>
              <p class="mt-3">{{ comment.body }}</p>
            </div>
          </div>
        </div>
        
        {% endif %}
        {% empty %}
        <p class="mt-3">You've got no messages yet :(</p> {% endfor %}
      </div>
      <div class="container mb-5">
        <form method="POST" action="#">
          {% csrf_token %} 
          {{ form }}
          <button
            type="submit"
            class="btn btn-secondary mt-3 rounded-1 btn-comment text-light fw-bold"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
