{% extends 'base.html' %}

{% block content %}
  <header>
    <h1>Task Detail</h1>
  </header>

  <main>
    <div class="task-container">
      <h2>{{ task.title }} from <a href="{% url 'project' task.project.id %}">{{ task.project }}</a></h2>
      <p>{{ task.body }}</p>
      Assigned to:
      {% for user in assigned_to %}
      <a href="{% url 'profile' user.id %}">@{{ user.name }}</a>
      {% endfor %}
      <p>Due to: {{ task.deadline }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Priority: {{ task.priority }}</p>
      {% if request.user.id == task.project.owner.id %}
      <a href="{% url 'edit_task' task.id %}">Edit</a>
      {% endif %}
    </div>
  </main>
{% endblock content %}