{% extends 'base.html' %}

{% block content %}
  <header>
    <h1>Task Detail</h1>
  </header>

  <main>
    <div class="task-container">
      <h2>{{ task.title }} from <a href="{% url 'project' task.project.id %}">{{ task.project }}</a></h2>
      {% if task.outdated %}
      <p>Outdated!</p>
      {% endif %}
      <p>{{ task.body|safe }}</p>
      Assigned to:
      {% for user in assigned_to %}
      <a href="{% url 'profile' user.id %}">@{{ user.name }}</a>
      {% endfor %}
      <p>Due to: {{ task.deadline }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Priority: {{ task.priority }}</p>
      {% if request.user.id == task.project.owner.id %}
      <a href="{% url 'edit_task' task.id %}">Edit</a>
      <a href="{% url 'delete_task' task.id %}">Delete</a>
      <a href="{% url 'add_assignee' task.id %}"><button class="add-task btn" type="submit">Add assignees</button></a>
      {% endif %}
      <hr>
      {% for comment in comments %}
      <li>{{ comment.body }}</li>
      {% endfor %}
      {% if request.user == task.project.owner or request.user in assigned_to %}
      <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button class="add-task btn" type="submit">Comment</button>
      </form>
      {% endif %}
    </div>
  </main>
{% endblock content %}