{% load static %}
<nav
  class="navbar navbar-expand-lg bg-dark navbar-dark border-bottom border-primary border-1"
>
  <div class="container">
    <a href="{% url 'my_tasks' %}" class="navbar-brand">
      <img
        src="{% static 'images/logo-no-background.png' %}"
        alt=""
        width="180"
      />
    </a>

    <form action="" class="d-none d-xl-block">
      <input
        type="search"
        class="form-control rounded-5 ms-5"
        style="height: 50px"
        placeholder="Search..."
      />
    </form>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="{% url 'my_projects' %}" class="nav-link">My Projects</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'create_project' %}" class="nav-link">+New Project</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'my_team' %}" class="nav-link">My Team</a>
        </li>
        <li class="nav-item d-md-block d-lg-none">
          <a href="{% url 'change_password' %}" class="nav-link">Settings</a>
        </li>
        <li class="nav-item d-md-block d-lg-none">
          <a href="{% url 'logout' %}" class="nav-link">Log Out</a>
        </li>
      </ul>
    </div>

    <div class="image-container ms-4 d-none d-lg-block">
      <a href="{% url 'profile' request.user.uuid %}">
        <img
          src="{{ request.user.profile_photo.url }}"
          alt=""
          class="img-nav img-thumbnail rounded-circle border border-2 border-success"
        />
      </a>
    </div>

    <div class="dropdown">
      <a
        class="ms-2 d-none d-lg-block"
        data-bs-toggle="dropdown"
        data-bs-target="#img-menu"
        type="button"
        role="button"
        aria-expanded="true"
        aria-haspopup="false"
      >
        <i class="fas fa-caret-down text-light"></i>
      </a>
      <div class="dropdown-menu bg-light text-white" id="img-menu">
        <a href="{% url 'change_password' %}" class="dropdown-item">Settings</a>
        <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
      </div>
    </div>
  </div>
</nav>
