<nav>
        <ul class="navbar-nav">
          <div class="logo">
            <li class="logo">
              <a class="nav-link" href="#">
                <img class="logo-img" src="static/images/logo.png" alt="Effektiff Logo">
              </a>
            </li>
          </div>
          <div class="search">
            <li>
              <form action="#" method="get">
                <input type="text" name="search" placeholder="Search...">
                <button type="submit">Search</button>
              </form>
            </li>
          </div>
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Tasks</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>

          <li class="nav-item">
            <label class="switch">
              <input type="checkbox" id="dark-mode-toggle">
              <span class="slider"></span>
            </label>
          </li>

          <li class="nav-itema profile">
            <a class="nav-linka" href="#">
              <img class="profile-img" src="static/images/profiles/django_new.png" alt="Profile Picture">
              <span class="profile-arrow"></span>
              <div class="profile-menu">
                <ul>
                  <li>Settings</li>
                </ul>
              </div>
            </a>
          </li>

        </ul>
      </nav>