{% load static %}
<nav>
        <ul class="navbar-nav">
          <div class="logo">
            <li class="logo">
              <a class="nav-link" href="{% url 'home' %}">
                <img class="logo-img" src="{% static 'images/logo.png' %}" alt="Effektiff Logo">
              </a>
            </li>
          </div>
          <div class="search">
            <li>
              <form action="#" method="get">
                <input type="text" name="search" placeholder="Search...">
                <button type="submit">Search</button>
              </form>
            </li>
          </div>
          <li class="nav-item"><a class="nav-link" href="{% url 'create_project' %}">New Project</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
          {% if request.user.is_authenticated %}
          <li class="nav-item"><a class="nav-link" href="{% url 'my_tasks' request.user.id %}">Tasks</a></li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="#">Settings</a></li>

          <li class="nav-item">
            <label class="switch">
              <input type="checkbox" id="dark-mode-toggle">
              <span class="slider"></span>
            </label>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a href="{% url 'profile' request.user.id %}"><img class="profile-img" src="{% static 'images/profiles/django_new.png' %}" alt="Profile Picture"></a>
            <a class="nav-link" href="#" id="dropdownMenuLink"><span class="arrow">&#9662;</span></a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{% url 'my_projects' request.user.id %}">My Projects</a>
                <a class="dropdown-item" href="{% url 'edit_profile' request.user.id %}">Edit Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </a>
          </li>
          {% else %}
          <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Log In </a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Sign Up</a></li>
          {% endif %}


    </li>

        </ul>
      </nav>